.block {
  width: 20px;
  height: 20px;
  border: 0.5px solid black;
}

.row {
  display: flex;
  flex-direction: row;
}

.color {
  background-color: black;
}


.c0 { 
  background-color: #FFFFFF;
}
.c1{ 
  background-color: #FFFF80;
}
.c2 {background-color: #C0C0FF}
.c3 {background-color: #80FF80}
.c4 {background-color: #FF8080}
.c5 {background-color: #8080FF}
.c6 {background-color: #FFC080}
.c7 {background-color: #FF80FF}
.c8 {background-color: #C0C0C0}
.c9 {background-color: #4F4F4F}